<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>

  <% if @post.user == Current.user %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</div>

<% if Current.user.present? %>
  <%= render "comments/form", comment: @post.comments.new %>
<% end %>

<%= render @post.comments %>